@import url("https:/fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
@import url("https:/fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-image: url(backgound\ member.png);
 background-size: cover;
}
.header {
    position: relative;
    display: flex;
    place-items: center;
    justify-content: space-around;
    background-color: #000;
    padding: o.10vw;

}

/* introduction.... */
.about-me-1{
  position: absolute;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 70vw;

}
.about-me-description-1{
  width: 30vw;
  height: 35vh;
  position: absolute;
  margin-top: -90vh;
  margin-left: -50vw;

}
.introduction-1{
  color: #ffffff5a;
  font-size: 1vw;
  padding-bottom: 2vh;
}
.about-me-title-1{
  color: #fff;
  font-size: 3.3vw;
  font-family: "Dancing Script";
}
.about-me-subheading-1{
  color: #fffa;
  font-size: 1.4vw;
  font-weight: 400;
  font-family: "EB Garamond";
  line-height: 1.2;
  padding-top: 3vh;
}


.logo {
    max-width: 7vw;
    z-index: 1;
}

.main-nav-list {
    display: flex;
    list-style: none;
    gap: 3vw;
    z-index: 3;
  
}

.main-nav-list {
    text-decoration: none;
    color: #fffa;
    font-size: 1.8vw;
    transition: all 0.5s;
    font-family: "Dancing Script";
}

.main-nav-list:hover {
    color: #fff;
}

/* member details */
.wrap-1{
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 3vw;
  gap: 20vw;
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 11vw;
  gap: 20vw;
}
.cardd-1{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left:  -17vw; 
    padding-bottom: 3vw;
}
.cardd-2{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left:  -17vw; 
  padding-bottom: 3vw;
}
.cardd-3{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left:  -17vw; 
  padding-bottom: 3vw;
}
.cardd{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left:  -17vw; 
}
.card {
    display: flex;
    margin-top: 14vw;
    margin-left: 12vw;
    width: 355px;
    height: 355px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
 stroke: #9c443feb;
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    stroke: #352221eb;
  }

  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    box-shadow: 0 0 30px #fffa;
    background-image: url(rajjj.jpg);
    background-size: cover;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid ;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #0e2a1bf2;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: #f55d56;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button {
    background: #9c443feb;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card .bottom .bottom-bottom .button:hover {
    background:#352221eb ;
    color: #ffffff;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid  #0e2a1bf2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }
  /* radha....... */
  .card-1 {
    display: flex;
    margin-top: 14vw;
    margin-left: 12vw;
    width: 355px;
    height: 355px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  .card-1 .mail-1 {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card-1 .mail-1 svg {
 stroke: #9c443feb;
    stroke-width: 3px;
  }
  
  .card-1 .mail-1 svg:hover {
    stroke: #352221eb;
  }
  .card-1 .profile-pic-1 {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    box-shadow: 0 0 30px #fffa;
    background-image: url(radha.jpg);
    background-size: cover;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid ;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card-1 .profile-pic-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card-1 .profile-pic-1 svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  
  .card-1 .bottom-1 {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #0e2a1bf2;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card-1 .bottom-1 .content-1 {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card-1 .bottom-1 .content-1 .name-1 {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card-1 .bottom-1 .content-1 .about-me-1 {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 .social-links-container-1 {
    display: flex;
    gap: 1rem;
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 .social-links-container-1 svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 .social-links-container-1 svg:hover {
    fill: #f55d56;
    transform: scale(1.2);
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 .button-1 {
    background: #9c443feb;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card-1 .bottom-1 .bottom-bottom-1 .button-1:hover {
    background:#352221eb ;
    color: #ffffff;
  }
  
  .card-1:hover {
    border-top-left-radius: 55px;
  }
  
  .card-1:hover .bottom-1 {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card-1:hover .profile-pic-1 {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid  #0e2a1bf2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card-1:hover .profile-pic-1:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card-1:hover .profile-pic-1 img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card-1:hover .profile-pic-1 svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }

/* ranjana */
.card-3 {
  display: flex;
  margin-top: 14vw;
  margin-left: 12vw;
  width: 355px;
  height: 355px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}
.card-3 .mail-3 {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card-3 .mail-3 svg {
stroke: #9c443feb;
  stroke-width: 3px;
}

.card-3 .mail-3 svg:hover {
  stroke: #352221eb;
}
.card-3 .profile-pic-3 {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  box-shadow: 0 0 30px #fffa;
  background-image: url(ranjan.jpg);
  background-size: cover;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid ;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card-3 .profile-pic-3 img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card-3 .profile-pic-3 svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}


.card-3 .bottom-3 {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #0e2a1bf2;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card-3 .bottom-3 .content-3 {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card-3 .bottom-3 .content-3 .name-3 {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card-3 .bottom-3 .content-3 .about-me-3 {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card-3 .bottom-3 .bottom-bottom-3 {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-3 .bottom-3 .bottom-bottom-3 .social-links-container-3 {
  display: flex;
  gap: 1rem;
}

.card-3 .bottom-3 .bottom-bottom-3 .social-links-container-3 svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card-3 .bottom-3 .bottom-bottom-3 .social-links-container-3 svg:hover {
  fill: #f55d56;
  transform: scale(1.2);
}

.card-3 .bottom-3 .bottom-bottom-3 .button-3 {
  background: #9c443feb;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card-3 .bottom-3 .bottom-bottom-3 .button-3:hover {
  background:#352221eb ;
  color: #ffffff;
}

.card-3:hover {
  border-top-left-radius: 55px;
}

.card-3:hover .bottom-3 {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card-3:hover .profile-pic-3 {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid  #0e2a1bf2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card-3:hover .profile-pic-3:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card-3:hover .profile-pic-3 img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card-3:hover .profile-pic-3 svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}
  /* lavesh */

  .card-2 {
    display: flex;
    margin-top: 14vw;
    margin-left: 12vw;
    width: 355px;
    height: 355px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  .card-2 .mail-2 {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card-2 .mail-2 svg {
 stroke: #9c443feb;
    stroke-width: 3px;
  }
  
  .card-2 .mail-2 svg:hover {
    stroke: #352221eb;
  }
  .card-2 .profile-pic-2 {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    box-shadow: 0 0 30px #fffa;
    background-image: url(radha.jpg);
    background-size: cover;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid ;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card-2 .profile-pic-2 img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card-2 .profile-pic-2 svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  
  .card-2 .bottom-2 {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
   
    background: #0e2a1bf2;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card-2 .bottom-2 .content-2 {
    position: absolute;
    bottom: 0;
    
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card-2 .bottom-2 .content-2 .name-2 {
    display: block;
    font-size: 1.2rem;

    color: white;
    font-weight: bold;
  }
  
  .card-2 .bottom-2 .content-2 .about-me-2 {
    display: block;
    font-size: 0.9rem;

    color: white;
    margin-top: 1rem;
  }
  
  .card-2 .bottom-2 .bottom-bottom-2 {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.card-2 .bottom-2 .bottom-bottom-2 .social-links-container-2 {
    display: flex;
    gap: 1rem;

  }
  
  .card-2 .bottom-2 .bottom-bottom-2 .social-links-container-2 svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
 
  }
  
  .card-2 .bottom-2 .bottom-bottom-2 .social-links-container-2 svg:hover {
    fill: #f55d56;
    transform: scale(1.2);
   
  }
  
  .card-2 .bottom-2 .bottom-bottom-2 .button-2 {
    background: #9c443feb;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
 
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card-2 .bottom-2 .bottom-bottom-2 .button-2:hover {
    background:#352221eb ;
    color: #ffffff;
   
  }
  
  .card-1:hover {
    border-top-left-radius: 55px;
  }
  
  .card-2:hover .bottom-2 {
    top: 20%;
   
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card-2:hover .profile-pic-2 {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid  #0e2a1bf2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card-2:hover .profile-pic-2:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card-2:hover .profile-pic-2 img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card-2:hover .profile-pic-2 svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }